<div class="container">
	<barre-header></barre-header>

	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
			<a routerLink="/recherche"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to search results</a><br/>

			<h1>{{peopleDetails.name}}<span style="font-size: 14px; font-style: italic">, {{peopleDetails.gender}}</span></h1>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<strong>Height:</strong> {{peopleDetails.height}} cm<br/>
				<strong>Mass:</strong> {{peopleDetails.mass}} kg<br/>
				<strong>Birth Year:</strong> {{peopleDetails.birth_year}}
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<strong>Hair Color:</strong> {{peopleDetails.hair_color}}<br/>
				<strong>Skin Color:</strong> {{peopleDetails.skin_color}}<br/>
				<strong>Eye Color:</strong> {{peopleDetails.eye_color}}<br/>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<strong>Appears in:</strong>
				<ul>
					<li *ngFor="let item of listFilm">{{item.title}}
					<button (click)="show(item)" *ngIf="!item.isShown"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
					<button (click)="hide(item)" *ngIf="item.isShown"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
						<ul *ngIf="item.isShown">
							<li>
								<strong>Episode:</strong> {{item.episode_id}}
							</li>
							<li>
								<strong>Opening Crawl:</strong> {{item.opening_crawl}}
							</li>
							<li>
								<strong>Director:</strong> {{item.director}}
							</li>
							<li>
								<strong>Producer:</strong> {{item.producer}}
							</li>
							<li>
								<strong>Released:</strong> {{item.release_date}}
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
